<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <%= fa_icon "commenting-o", text: "Chat"  %>
      </div>
      <div class="panel-body" id="chat-body">
        <ul class="chat">
          <% @messages.each do |message| %>
          <%= render :partial =>"message",locals:{:message => message} %>
          <% end %>
        </ul>
      </div>
      <div class="panel-footer">
        <%= form_for [@conversation,Message.new],:remote => true do |f| %>
        <div class="input-group">
          <%= f.label :content %>
          <%= f.text_area :content, class:"form-control input-sm",placeholder: "Type your message here..." %>
          <span class="input-group-btn">
            <%= f.submit "Send",class: "btn btn-warning btn-sm",id: "btn-chat" %>
          </span>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
    var chat = $('.panel-body');
chat.scrollTop(chat.prop("scrollHeight"));
</script>