<div class="col-md-12">
  <h2 class="text-center"> Frien List </h2>
  <table class="table">
    <thead>
      <tr>
        <th> # </th>
        <th> Name </th>
        <th> Email </th>
        <th> Unread </th>
        <th> Option </th>
      </tr>
    </thead>
    <tbody>
      <% @friends.each do |friend| %>
      <tr>
        <td> # </td>
        <td> <%= friend.username %> </td>
        <td>  <%= friend.email %> </td>
        <td> <%= friend.unread(current_user) %>   </td>
        <td> <%= link_to("Conversation",conversations_path(:sender_id=>current_user.id,:recipient_id=> friend.id),method: :post,class:'btn btn-info') %>
         <%= link_to("Delete friend",friend_path(friend),method: :delete,class:"btn btn-danger") %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>